<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Page admin</title>
  </head>
  <body>
    <form action="/upload-cam" method="post" encType="multipart/form-data">
        <input type="file" name="file"/><br/><br/>
        <input type="submit" value="Update" />
    </form>
  </body>
</html>
